[Unit]
Description=GitHub Runner Configuration Propagation
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/export.sh -u runner -p 1 -- /etc/runner/runner.conf

[Install]
WantedBy=multi-user.target