[Unit]
Description=GitHub Runner Configuration Propagation
After=docker.service

[Service]
Type=oneshot
ExecStart=su -c '/usr/local/bin/export.sh -u runner -- /etc/runner/runner.conf' root

[Install]
WantedBy=multi-user.target